[build]
  base = "frontend"
  command = "npm run build"
  publish = "frontend/build"

[build.environment]
  CI = "false"
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
